<section class="about-us-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="about-us">
    <p>Over a decade ago, we started a store to sell online. None of the ecommerce solutions at the time gave us the control we needed to be successful—so we built our own.</p>
  </div>

</section>
